@charset "UTF-8";
.page p::selection, .page ul li::selection, .page ol li::selection {
  color: #fff;
  background: #38c574; }

.page-header {
  display: block;
  clear: both;
  user-select: none; }
  .page-header h1 {
    max-height: 236px;
    overflow: hidden; }
    .page-header h1 a {
      color: #27ae60;
      cursor: pointer; }
      .page-header h1 a:hover {
        color: #1a0dab; }
    .page-header h1 .page-title {
      display: table-cell; }
    .page-header h1 > small {
      position: absolute;
      right: 0px;
      top: 37px;
      z-index: -99; }
  .page-header .home {
    float: left;
    margin: 0 10px;
    cursor: pointer;
    color: #999;
    border-right: 1px solid #ccc;
    padding-right: 10px; }
    .page-header .home:hover {
      color: #27ae60; }
  .page-header time {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    cursor: default;
    background: #e6e5e5;
    color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    padding: 8px 4px;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden; }

.page h1 {
  font-size: 32px;
  color: #333;
  text-decoration: #ddd underline double;
  text-decoration-skip: ink;
  padding: 3px 0; }
  .page h1:hover {
    color: #27ae60; }
    .page h1:hover a.headerlink:before {
      content: "¶";
      color: #27ae60;
      text-decoration: #ddd underline double; }
  .page h1 a.headerlink {
    float: right; }

.page h2 {
  border-bottom: 1px solid #ccc;
  padding: 2px 0 5px 0;
  color: #333; }
  .page h2:hover {
    color: #27ae60;
    text-decoration: #ddd underline dashed;
    text-decoration-skip: ink; }
    .page h2:hover a {
      color: #27ae60; }
    .page h2:hover code {
      color: #27ae60; }
  .page h2 a.headerlink {
    margin-right: 5px; }
    .page h2 a.headerlink:before {
      color: #27ae60;
      content: "\1008"; }

.page h3 {
  color: #444; }
  .page h3:hover {
    color: #666;
    text-decoration: underline; }

.page h4, .page h5, .page h6 {
  color: #666; }
  .page h4:hover, .page h5:hover, .page h6:hover {
    text-decoration: underline; }

.page p {
  color: #333;
  font-size: 14px;
  margin: 2px 0;
  word-break: break-word;
  word-wrap: break-word; }

.page > p {
  text-indent: 2em; }

.page p > img {
  margin: 3px 6px 3px -1em; }

.page del {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through #c3c3c3; }
  .page del code {
    text-decoration: line-through #c7254e; }

.page > table {
  margin: 4px 0;
  border-collapse: collapse; }
  .page > table thead {
    user-select: none;
    background: #f1f9ff;
    cursor: default; }
  .page > table tr:hover {
    background: #f1f9ff; }
  .page > table th, .page > table td {
    border: 1px solid #c6cede;
    border-collapse: collapse;
    padding: 7px;
    user-select: all; }

.page blockquote {
  background: #f5f9fd;
  margin: 4px 2px;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #eee;
  border-left: 5px solid #eee; }
  .page blockquote p > img {
    margin-left: 1em; }
  .page blockquote p {
    color: #404040; }

.page pre > code {
  background: transparent;
  border: 0; }

.page .highlight {
  margin: 2px;
  padding: 5px;
  border-radius: 0px;
  font-size: 14px; }
  .page .highlight .gutter {
    user-select: none;
    cursor: default;
    padding: 0 5px 0 5px;
    margin: 0; }
    .page .highlight .gutter pre {
      padding: 0px;
      border-right: 1px solid #4e4e4e;
      border-radius: 0; }
    .page .highlight .gutter .line {
      color: rgba(199, 37, 78, 0.6);
      text-align: right;
      margin-right: 5px; }
  .page .highlight .code {
    margin: 0;
    padding: 0 !important;
    vertical-align: initial;
    border-spacing: 0px; }
    .page .highlight .code .line {
      font-size: 14px; }

.page img {
  box-shadow: 0px 0px 6px 0px #ccc;
  margin: 2px 6px;
  user-select: none;
  max-width: 100%;
  padding: 4px; }

.page em {
  color: #921b39; }

.page code {
  background: #fff8dc;
  user-select: all;
  word-break: break-word;
  word-wrap: break-word; }

.page ul, .page ol {
  margin: 0;
  padding: 2px 0 2px 20px; }
  .page ul li, .page ol li {
    margin: 4px 0 2px 0;
    color: #666; }
    .page ul li p, .page ol li p {
      color: #666; }

.page abbr[data-original-title], .page abbr[title] {
  color: #2f95ec;
  border-bottom: 1px dashed #2f95ec;
  text-decoration: none; }

.page a {
  cursor: pointer; }

.page menu {
  padding: 0;
  margin: 0;
  font-size: 24px;
  user-select: none;
  cursor: default;
  color: #333; }

.page details {
  color: #666;
  text-indent: 2em; }
  .page details summary {
    color: #333;
    text-indent: 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer; }
    .page details summary:focus {
      outline: none; }

.page ruby rt {
  color: #999; }

.page figure figcaption {
  color: #333;
  font-weight: 700; }

.page figure p {
  text-indent: 2em;
  color: #666; }

div.pagination {
  text-align: center;
  width: 100%;
  margin: 30px auto 60px auto; }
  div.pagination li {
    font-size: 16px;
    cursor: pointer; }
    div.pagination li a {
      padding: 4px 8px; }
    div.pagination li .glyphicon {
      margin: 0 5px; }

#directory {
  position: fixed;
  right: -1px;
  top: 75px;
  background: rgba(240, 248, 255, 0.8);
  overflow: auto;
  z-index: 99;
  border: 1px solid rgba(39, 174, 96, 0.3); }
  #directory ul, #directory ol {
    list-style: none;
    padding: 0px;
    margin-left: 15px; }
    #directory ul li, #directory ol li {
      margin: 2px 0;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer; }
      #directory ul li a, #directory ol li a {
        color: #27ae60; }
      #directory ul li:hover > a, #directory ol li:hover > a {
        background: #27ae60;
        color: #fff; }
  #directory > a {
    float: right;
    color: #fff;
    background: #27ae60;
    padding: 2px;
    cursor: pointer; }
  #directory > ul, #directory ol {
    margin: 30px 20px 20px 30px; }
    #directory > ul > li > ul > li > a, #directory ol > li > ul > li > a {
      color: #2a882c; }
    #directory > ul ul li a, #directory ol ul li a {
      color: #86b59e; }

@media (max-width: 767px) {
  #directory {
    display: none; } }
